# On ignore tout
/*

# Sauf ces dossiers
!modeles/
!controlers/
!templates/
!SCSS/
!config/*

# Sauf ces fichiers
!.gitignore
!index.php
!Doxyfile
!index.php
!include.php
!legal.php
!README.md

# Config
!config/constantesExemple.yaml
!config/config.php
!config/twig.php
# Autres dossiers
!controllers/
!modeles/
!SCSS/
!templates/

# Fichiers
!index.php
!composer.json
!composer.lock
!package.json
!package-lock.json