# Application
/vendor
/node_modules
/CSS
/config/config.php
/config/constantes.yaml
/images/vignettes/
/docs
/uploads

# PHPBB3
/phpBB3/cache/
/phpBB3/files/
/phpBB3/images/avatars/upload/
/phpBB3/vendor/
/phpBB3/config.php
/phpBB3/files/
/phpBB3/store/
/phpBB3/tmp/

# New

# On tracke RIEN.
/*

# Sauf
# Dossiers
# Config
config/*
!config/config.php
!config/constantesExemple.yaml
!config/twig.php
# Autres dossiers
!controllers/
!modeles/
!SCSS/
!templates/
!uploads/

# Fichiers
!index.php
!composer.json
!composer.lock
!package.json
!include.php
!index.php
!legal.php
!README.md
!package-lock.json
!packege.json
!.gitignore
