# On tracke RIEN.
/*

# Sauf
# Dossiers
# Config
config/*
!config/config.php
!config/constantesExemple.yaml
!config/twig.php
# Autres dossiers
!controllers/
!modeles/
!SCSS/
!templates/

# Fichiers
!index.php
!composer.json
!composer.lock
!package.json
!include.php
!index.php
!legal.php
!README.md
!package-lock.json
!packege.json
!.gitignore
