{% extends 'base_template.html.twig' %}
{% block title %}
	{{constantes.application.website_name}}
	- Back Office
{% endblock %}

{% block body %}
	<main>
		<form method="POST" action="index.php?controleur=jeu&methode=enregistrer" class="row g-3 position-relative" enctype="multipart/form-data">
			<h1>Ajouter un jeu</h1>

			{# Nom du jeu #}
			<div class="row mt-2">
				<label for="jeu" class="form-label">Jeu</label>
				<div class="position-relative">
					<input type="text" id="jeu" class="form-control" name="jeu" placeholder="Entrez le nom du jeu" required>
				</div>
			</div>

			{# Description du jeu #}
			<div class="row mt-2">
				<label for="description" class="form-label">Description</label>
				<div class="position-relative">
					<textarea class="form-control" name="description" placeholder="Description de l'annonce" required></textarea>
				</div>
			</div>

			<div
				class="row mt-2">
				{# Contenu d'une boite standard #}
				<div class="col mt-2">
					<label for="contenu" class="form-label">Contenu</label>
					<div class="position-relative">
						<input type="text" class="form-control" name="contenu" placeholder="Contenu de l'annonce" required>
					</div>
				</div>

				{# Catégories #}
				<div class="col mt-2">
					<label for="categories" class="form-label">Catégorie(s)</label>
					<div class="position-relative">
						<input type="text" class="form-control" name="categories" placeholder="Catégories du jeu" required>
					</div>
				</div>


				{# Nombre de joueurs #}
				<div
					class="row mt-2">
					{# Minimum #}
					<div class="col">
						<label for="nbJoueursMin" class="form-label">Nombre de joueurs minimum</label>
						<div class="position-relative">
							<input type="number" class="form-control" name="nbJoueursMin" placeholder="2" required>
						</div>
					</div>
					{# Maximum #}
					<div class="col">
						<label for="nbJoueursMax" class="form-label">Nombre de joueurs maximum</label>
						<div class="position-relative">
							<input type="number" class="form-control" name="nbJoueursMax" placeholder="10" required>
						</div>
					</div>
				</div>

				{# Date de sortie #}
				<div class="row mt-2">
					<div class="col">
						<label for="dateSortie" class="form-label">Date de sortie</label>
						<div class="position-relative">
							<input type="date" class="form-control" name="dateSortie" required>
						</div>
					</div>

					{# Extension? #}
					{# AJOUTER LA RECHERCHE ICI #}
					<div class="col">
						<label for="extensionDe" class="form-label">Jeu principal (si extension)</label>
						<div class="position-relative">
							<input type="text" class="form-control" name="extensionDe" placeholder="Monopoly">
						</div>
					</div>

					{# Durée de la partie #}
					<div class="col">
						<label for="dureePartie" class="form-label">Durée d'une partie (en minutes)</label>
						<div class="position-relative">
							<input type="number" class="form-control" name="dureePartie" placeholder="15" required>
						</div>
					</div>
				</div>

				{# Photos #}
				<div class="row mt-2">
					<label for="photo" class="form-label">Image du jeu</label>
					<input
					type="file" class="form-label" name="photo" accept=".png,.jpeg,.jpg" required>


					{# Bouton d'ajout #}
					<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						<button type="submit" name="submit" value="1" class="btn btn-primary me-md-2">Ajouter le jeu</button>
					</div>
				</div>
			</form>
		</main>
	{% endblock %}
