<!DOCTYPE html>
<html lang={{constant('WEBSITE_LANGUAGE')}}>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="CSS/styles.css">
        <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
		<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
		{% block css %}{% endblock %}
		<title>
			{% block title %}Passatemps - Accueil{% endblock %}
		</title>
	</head>
	<body>
		<header class="sticky-top">
			<nav class="navbar navbar-expand-lg  bg-body-tertiary shadow-sm">
				<div class="container-fluid ">
					<a class="navbar-brand" href="index.php">
                        <img src="images/logo.svg" width="181" height="41" alt="Passatemps">
                    </a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {% if menu=='accueil' %} active {% endif %}" aria-current="page" href="index.php">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if menu=='vendre' %} active {% endif %}" href="index.php?controleur=vendre&methode=create">Vendre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if menu=='commandes' %} active {% endif %}" href="index.php?controleur=commande&methode=lister">Commandes</a>
                        </li>
						</a>
						<form class="d-flex" role="search">
							<input class="form-control" type="search" placeholder="Rechercher un jeu" aria-label="Search"/>
							<button class="btn btn-outline-success" type="submit" hidden>Search</button>
						</form>
                        </ul>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link {% if menu=='forum' %} active {% endif %}" href="index.php?controleur=forum&methode=lister">Forums</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {% if menu=='messagerie' %} active {% endif %}" href="index.php?controleur=messagerie&methode=lister">Messagerie</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {% if menu=='compte' %} active {% endif %}" href="index.php?controleur=connexion&methode=connect">Mon compte</a>
						</li>
					    </ul>
				    </div>
			    </div>
		    </nav>
        </header>
        <main class="container mt-4 mb-5">
            {% block body %}{% endblock %}
        </main>
        <footer>
            <div class="footer-content row bg-light text-center p-3">

                <div class="col">
                    <p>Contactez-nous: contact@passatemps.com (Fausse email)</p>

                    <p>&copy; 2025 Passatemps. Tous droits réservés.</p>
                </div>
                <div class="col">
                    <p class="mb-0"><a href="legal.php#mentions-legales">Mentions légales</a></p>
                    <p class="mb-0"><a href="legal.php#politique-confidentialite">Politique de confidentialité</a></p>
                    <p class="mb-0"><a href="legal.php#conditions-utilisation">Conditions d'utilisation</a></p>
                    <p class="mb-0"><a href="legal.php#cookies">Politique de cookies</a></p>
                </div>
            </div>
        </footer>
	</body>
</html>
