<!DOCTYPE html>
<html lang={{ constantes.application.website_language }}>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="CSS/style.css">
		<link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
		<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
		{% block css %}<link rel="stylesheet" type="text/css" href="CSS/style.css">{% endblock %}
		<title>
			{% block title %}{{constantes.application.website_name}} - Accueil{% endblock %}
		</title>
	</head>
	<body>
		<header class="sticky-top">
			<nav class="navbar navbar-expand-lg  bg-body-tertiary shadow-sm">
				<div class="container-fluid ">
					<a class="navbar-brand" href="index.php">
						<img src="images/logo.svg" width="181" height="41" alt="Passatemps">
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
                            <a class="nav-link {% if menu=='annonce' %} active {% endif %}" href="index.php?controleur=annonce&methode=lister">Annonces</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if menu=='vendre' %} active {% endif %}" href="index.php?controleur=vendre&methode=create">Vendre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if menu=='commandes' %} active {% endif %}" href="index.php?controleur=livraison&methode=lister">Commandes</a>
                        </li>
						</a>
						<form class="d-flex position-relative" role="search" id="form-recherche-jeux" autocomplete="off">
    						<input class="form-control" type="search" placeholder="Rechercher un jeu" aria-label="Search" id="recherche-jeux"/>
    						<button class="btn btn-outline-success" type="submit" hidden>Search</button>

   							 <ul id="resultats-autocomplete"
        						class="list-group position-absolute w-100"
        						style="top: 100%; left: 0; z-index: 1000; display: none;">
    						</ul>
						</form>


					</ul>
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link {% if menu=='forum' %} active {% endif %}" href="index.php?controleur=forum&methode=lister">Forums</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {% if menu=='messagerie' %} active {% endif %}" href="index.php?controleur=messagerie&methode=lister">Messagerie</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {% if menu=='compte' %} active {% endif %}" href="index.php?controleur=connexion&methode=connect">Mon compte</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	
</header>
<main class="container mt-4 mb-5"> {% block body %}{% endblock %}</main>
<footer>
	<div class="footer-content row bg-light text-center p-3 m-0">

		<div class="col">
			<p>Contactez-nous: contact@passatemps.com (Fausse email)</p>

			<p>&copy; 2025 Passatemps. Tous droits réservés.</p>
		</div>
		<div class="col">
			<p class="mb-0">
				<a href="legal.php#mentions-legales" class="text-secondary">Mentions légales</a>
			</p>
			<p class="mb-0">
				<a href="legal.php#politique-confidentialite" class="text-secondary">Politique de confidentialité</a>
			</p>
			<p class="mb-0">
				<a href="legal.php#conditions-utilisation" class="text-secondary">Conditions d'utilisation</a>
			</p>
			<p class="mb-0">
				<a href="legal.php#cookies" class="text-secondary">Politique de cookies</a>
			</p>
		</div>
	</div>
</footer>
</body>
<script>
    let input = document.getElementById('recherche-jeux');
    let resultats = document.getElementById('resultats-autocomplete');

    input.addEventListener('input', function() {
        let valeur = this.value.trim();

        if (valeur === '') {
            resultats.style.display = 'none';
            return;
        }

        fetch(`index.php?controleur=Jeu&methode=autocomplete&q=${(valeur)}`)
            .then(res => res.json())
            .then(data => {
                resultats.innerHTML = '';

                if (data.length === 0) {
                    resultats.style.display = 'none';
                    return;
                }

                data.forEach(jeu => {
                    let li = document.createElement('li');
                    li.className = 'list-group-item list-group-item-action';
                    li.textContent = jeu.nom;
                    li.style.cursor = 'pointer';

                    // quand on clique, on va sur la page du jeu
                    li.addEventListener('click', () => {
                        window.location.href = `index.php?controleur=Jeu&methode=afficher&id=${jeu.idJeu}`;
                    });

                    resultats.appendChild(li);
                });

                resultats.style.display = 'block';
            });
    });

    // cacher le menu si clic en dehors
    document.addEventListener('click', function(e) {
        if (!input.contains(e.target) && !resultats.contains(e.target)) {
            resultats.style.display = 'none';
        }
    });

	// APPUI SUR ENTREE
    input.addEventListener('keydown', function(e) {
    if (e.key === 'Enter') {
        e.preventDefault(); // empêche le submit
        lancerRecherche();
    }
	});

	function lancerRecherche() {
    let valeur = input.value.trim();

    if (valeur === '') return;

    // Redirection vers la page de recherche classique
    window.location.href = `index.php?controleur=Jeu&methode=rechercherPage&q=${(valeur)}`;
	}


</script>
</html>
