{% extends 'base_template.html.twig' %}
{% block title %}Passatemps - Accueil{% endblock %}

{% block body %}
<h1>Bienvenue sur Passatemps</h1>
<p>Votre plateforme de vente en ligne dédiée aux loisirs créatifs.</p>
{% endblock %}
