{% extends 'base_template.html.twig' %}
{% block title %}{{constantes.application.website_name}} - Accueil{% endblock %}

{% block body %}
<h1>Bienvenue sur {{constantes.application.website_name}}</h1>
<p>Votre plateforme de vente en ligne dédiée aux loisirs créatifs.</p>
{% endblock %}
