{% extends 'base_template.html.twig' %}
{% block title %}Passatemps - Informations légales{% endblock %}

{% block body %}
<h1>Informations légales</h1>
<p>Cette page regroupe les informations légales concernant le site Passatemps.</p>
<h2 id="mentions-legales">Mentions légales</h2>
<h2 id="politique-confidentialite">Politique de confidentialité</h2>
<h2 id="conditions-utilisation">Conditions d'utilisation</h2>
<h2 id="cookies">Politique de cookies</h2>
{% endblock %}