{% extends 'base_template.html.twig' %}
{% block title %}Passatemps - Informations Légales{% endblock %}

{% block body %}
<h1>Informations Légales</h1>
<p>Cette page regroupe les informations légales concernant le site Passatemps.</p>
<h2 id="mentions-legales">Mentions Légales</h2>
<h2 id="politique-confidentialite">Politique de Confidentialité</h2>
<h2 id="conditions-utilisation">Conditions d'Utilisation</h2>
<h2 id="cookies">Politique de Cookies</h2>
{% endblock %}