{% extends "base_template.html.twig" %}
{% block title %}
	{{constantes.application.website_name}}
	- Mot de passe oublié
{% endblock %}

{% block body %}
	<main>
		<div class="container mt-5">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="card p-4 shadow-sm">
						<h2 class="card-title mb-4 text-center ">Mot de passe oublié</h2>
						<form method="POST" action="index.php?controleur=compte&methode=mdpOublie" autocomplete="off">
							<div class="mb-3">
								<label for="email" class="form-label">Email</label>
								<input type="email" class="form-control shadow-sm" id="email" name="email" placeholder="Entrez votre email" title="Entrez votre email" required>
							</div>
							<div class="d-grid">
								<button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
