{% extends "base_template.html.twig" %}
{% block title %}{{constantes.application.website_name}} - Message Détail{% endblock %}

{% block body %}
    <h1>Détail du Message</h1>
    <p><strong>Contenu :</strong> {{ message.contenu }}</p>
    <p><strong>Expéditeur (ID) :</strong> {{ message.idCompteExpediteur }}</p>
    <p><strong>Destinataire (ID) :</strong> {{ message.idCompteDestinataire }}</p>
    <a href="index.php?controleur=messagerie&methode=lister">Retour à la messagerie</a>
{% endblock %}