{% extends 'base_template.html.twig' %}

{% block title %}
	{{constantes.application.website_name}}
	- Newsletter inscrite avec succès
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card p-4 shadow-sm text-center">
					<h2 class="card-title mb-4 text-success">Inscription réussie !</h2>
					<p class="card-text">Merci de vous être inscrit à notre newsletter sous l'email suivante :
						{{ email }}. Vous receverez bientôt les dernières nouvelles et mises à jour directement dans votre boîte mail.</p>
					<a href="index.php" class="btn btn-primary mt-3">Retour à l'accueil</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
