{% extends 'base_template.html.twig' %}

{% block body %}
    <h1></h1>
    <p><strong>identifiant du noté :</strong> {{ note.idCompteNote }}</p>
    <p><strong>identifiant de ceux qui ont noté avec la note attribuée :</strong> {{ note.idCompteQuiNote }} {{note.note}}</p>
    <p><strong>moyenne des notes :</strong> {{ note.average }}</p>
{% endblock %}