{% extends 'base_template.html.twig' %}
{% block title %}{{constantes.application.website_name}} - Paiement {% endblock %}

{% block body %}

<div class="form-container">
    <form class="checkout-form">
        <h2 class="form-title">Détails du paiement</h2>
        <div class="mb-4">
            <label class="form-label">Numéro de la carte</label>
            <input type="text" name="numCarte" class="form-control" placeholder="1234 1234 1234 1234" required>
        </div>
        <div class="row mb-4">
            <div class="col-md-6">
                <label class="form-label">Date d'expiration</label>
                <input type="text" name="dateExpiration" class="form-control" placeholder="MM/YY" required>
            </div>
            <div class="col-md-6">
                <label class="form-label">Code de Sécurité</label>
                <input type="text" name="codeSecurite" class="form-control" placeholder="CVC" required>
            </div>
        </div>
        <div class="mb-4">
            <label class="form-label">Nom sur la carte</label>
            <input type="text" name="nomCarte" class="form-control" placeholder="Votre nom" required>
        </div>
        <div class="row mb-4">
            <div class="col-md-6">
                <a href="index.php?controleur=recapitulatif&methode=achat&id={{ annonce.idAnnonce }}" name="btnPayer" class="btn btn-primary mt-3">Payer</a>
            </div>
            <div class="col-md-6">
                <a href="index.php?controleur=livraison&methode=achat&id={{ annonce.idAnnonce }}" name="btnAnnuler" class="btn btn-secondary mt-3">Annuler</a>
            </div>
        </div>
    </form>
</div>


<div class="row mt-2">
		<div class="col mt-2">
			{% if erreurs is defined and erreurs|length > 0 %}
				<div class="alert alert-danger mt-3">
					<ul class="mb-0">
						{% for erreur in erreurs %}
							<li>{{ erreur }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
{% endblock %}