{% extends 'base_template.html.twig' %}
{% block title %}Passatemps - Liste des publications{% endblock %}

{% block body %}
    <h1>Liste des publications</h1>
    <ul>
    {% for publication in publications %}
        <li>{{ publication.idPost }} {{ publication.sujet }} - <a href="index.php?controleur=publication&methode=afficher&id={{ publication.idPost }}">Voir</a></li>
    {% endfor %}
    </ul>
{% endblock %}