{% extends 'base_template.html.twig' %}
{% block title %}Passatemps - Signalements{% endblock %}

{% block body %}
<h1>Liste des signalements</h1>
<ul>
{% for s in signalements %}
    <li>
        <a href="?controleur=Signalement&methode=afficher&id={{ s.idSign }}">
            Signalement #{{ s.idSign }} - {{ s.type }}
        </a>
    </li>
{% endfor %}
</ul>
{% endblock %}
